---
import BlogCard from "../../components/BlogCard.astro";
import Layout from "../../layouts/Layout.astro";
import { getArticlesByCategory, getCategoryBySlug } from "../../lib/wp";
import "../../styles/global.css";
import type { Post } from "../../types";

const categorySlug = Astro.params.category;
if (!categorySlug) {
  return Astro.redirect("/404");
}

// First, fetch the category details to get its ID
const category = await getCategoryBySlug(categorySlug);

// Then, use the category ID to fetch posts
const posts = await getArticlesByCategory({
  perPage: 3,
  categoryId: category.id,
});
const title = category.name; // Or category.slug, depending on what you prefer
---

<Layout title={`Category ${title}`} description='Just a generic description for a category page'>

  <section class="max-w-6xl mx-auto px-4 mt-10">
    <h2 class="text-3xl font-bold">{title}'s' Latest Posts</h2>
    <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-8">
      {posts.map((post: Post) => <BlogCard client:visible {...post} />)}
    </section>
  </section>
</Layout>
